<!DOCTYPE html>
{% load widget_tweaks %}
  {% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Cruds De Carros</title>
</head>

<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Crud com phyton</h1>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="{% url 'cadastar_carros' %}" class="btn btn-success">Adicionar</a>
    </div>


    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Ano</th>
                </tr>
            </thead>
           
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>modelo</td>
                    <td>marca</td>
                    <td>ano</td>
                    <td>
                        <a href="/view/{carros.todos_carros}/" class="btn btn-dark">Visualizar</a>
                        <a href="/edit/{carros.todos_carros}/" class="btn btn-primary">Editar</a>
                        <a href="/delete/{carros.todos_carros}/" class="btn btn-denger">Deletar</a>
                    </td>
                </tr>
                
        </table>
    </div>

</body>

</html>